/default.services.yml
/default.settings.php
/settings.drupal_env.php
/settings.memcache.container_pure.php
/settings.memcache.container_tags_db.php
/settings.memcache.php
/settings.redis.container.php
/settings.redis.php
/settings.drupal_env.ddev.php